$section_drop_time: 0.4s;
$font_resize_transition: 1s;

body {
    padding: 0;
    margin: 0;
    background-color: rgb(75, 0, 250);
    // overflow-x: hidden;
}

#div_hello {
    /* justify-content:center; */
    text-align: center;
    background-image: url("/src/resources/hello_bg.png");
    /* background-position:0; */
    background-size: cover;
    /* background-image: linear-gradient(#000000, #ffffff); */
    /* display: flex;
    flex-direction: column;
    justify-content: stretch; */
    height: 40%;
    position: relative;
    padding-top: 1%;
    /* padding: 0px; */
    margin: 0px;
}

#hello_h1 {
    color: white;
    background-image: linear-gradient(red, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    transition: ease all $font_resize_transition;
}
@media only screen and (max-width: 600px) {
    #hello_h1 {
        font-size: 2.4em;
    }
}
@media only screen and (min-width: 900px) {
    #hello_h1 {
        font-size: 4em;
    }
}

#hello_para_div {
    margin: 8% 0 0 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: ease all $font_resize_transition;
}
@media only screen and (max-width: 600px) {
    #hello_para_div {
        margin: 9% 0 0 0;
    }
}

#hello_para1 {
    /* text-align: center; */
    color: white;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

#hello_para2 {
    // text-align: center;
    color: white;
    margin-top: 1%;
    padding: 0;
    font-size: 1.1em;
}

@media only screen and (max-width: 600px) {
    #hello_para1 {
        font-size: 1.1em;
        transition: ease all $font_resize_transition;
    }
    #hello_para2 {
        font-size: 1em;
        transition: ease all $font_resize_transition;
    }
}

//! social div
#social_div {
    background-color: rgba(75, 0, 250, 0.5);
    // background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
    border-radius: 5px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;

    .breaks {
        height: 6px;
        margin: 0px;
        padding: 0px;
    }
    .mail {
        height: 4px;
    }

    #ids {
        // transition: ease all $font_resize_transition;
        display: none;
        text-align: left;
        background-color: rgba(75, 0, 250, 0.5);
        // background-color: rgba(0,0,0,0.5);
        border-radius: 5px;
        padding: 6px 2px 0px 2px;
        font-size: 15px;
        position: absolute;
        right: 28px;
        top: 1px;
        .indi_ids {
            padding: 0px 0px 12px 0px;
            margin: 0px;
            .inner {
                // background-color: black;
                // background-color: rgba(119, 61, 253, 0.8);
                background-image: linear-gradient(to left, rgba(119, 61, 253, 0.8), rgba(0, 0, 0, 0));
                border-radius: 2px;
                // color:rgb(213, 200, 243);
                // color: black;
                color: white;
                // text-decoration: none;
                margin: 0px;
                padding: 2px 6px 4px 2px;
                // transition: ease all $section_drop_time;
            }
            .email{
                background-color: rgba(119, 61, 253, 0.8);
                background-image:none;
            }
        }
        #last_id {
            padding: 0px 0px 7px 0px;
            text-align: center;
            // background-color: black;
        }
    }
    // #small_screen{
    //     display:none;
    // }
    transition: ease all $font_resize_transition;
}
@media only screen and (max-width: 600px) {
    #social_div {
        font-size: 20px;
        right: 15px;
        .breaks {
            height: 4px;
        }
        .mail {
            height: 2px;
        }
        #ids {
            padding: 3px 2px 0px 2px;
            font-size: 15px;
            position: absolute;
            top: 1px;
            right: 24px;
            .indi_ids {
                padding: 0px 0px 6px 0px;
                margin: 0px;
                .inner {
                    padding: 2px 4px 2px 2px;
                }
            }
            p {
                margin: 0px;
                padding: 0px;
            }
            #last_id {
                padding: 0px 0px 7px 0px;
            }
        }
    }
}
// @media only screen and (min-width: 1220px){
//     #social_div{
//         #ids{
//             display: block;
//         }
//     }
// }
